<!DOCTYPE html>
<%-include("partials/header.ejs")%>

<section id="hero" class="mb-4">
    <div class="px-4 py-5 my-5 text-center h-50 mb-"  >
        <!-- <h1 class="display-5 fw-bold ">Bem vindo as poesias</h1> -->
        <div class="col-lg-6 mx-auto">
          <!-- <p class="lead mb-4">Texto descrevendo brevemente o site.</p> -->
        </div>
      </div>
</section>
<div class="b-example-divider"></div>


<div class="container">
    <div class="row">

        <% if(locals.poetrydata.length >0){ %>
        <%    poetrydata.forEach(function(elem,index){%>
            <div class="col-lg-6 poetry-title text-center" >
                <a href="/poetrybody/<%=index%>">
                    <h4><%=elem.title%></h4>
                </a>
                <p>Autor: <%=elem.autor%></p>
            </div>

        <%    })%>       

    </div>
</div>


<%}else{%>
<h1>Ainda sem poesias</h1>
<%}%>


<%-include("partials/footer.ejs")%>
