<!DOCTYPE html>
<%-include("partials/header.ejs")%>

<div class="container">
    <a href="/submit/x">
    <button class="btn btn-primary">
        Inserir nova postagem
    </button>
</a>

<p>
    Ou selecione Poema abaixo para editar
</p>

<div class="container">
    <div class="row">
            <% if(locals.poetry){ %>
        
                
                <% poetry.forEach(function(elem,index){%>
        
                    
                    <div class="col-lg-6 poetry-title  text-center m-1" id=<%=elem.id%>>
                            <h4>
                                <%=elem.title%>
                            </h4>
                                                <p>Autor: <%=elem.author%></p>
                        <p>Likes: <%=elem.likes%></p>
                        <a href="submit/<%=elem.id%>">Editar</a>
                        <a class="delete" href="/delete/<%= elem.id %>">Delete</a>
        
        
                    </div>
        
                
                    <% })%>
                <%}else{%>
                    <h1>Ainda sem poesias</h1>
                    <%}%>

        </div>


    </div>



            
</div>



<!-- For each dos poemas-->

<div>

</div>

    
<%-include("partials/footer.ejs")%>